.main-sorting {
  display: flex;
  margin-top: 7px;

  &-label {
    min-width: 75px;
    color: #fff;
    font-size: 18px;
  }

  &-select {
    height: initial;

    &:hover {
      cursor: pointer;
    }
  }
}